.ButtonDefault {
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    border-radius: 100px;
    background: #34ffc9;
    color: #222222;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}

.ButtonDefault:hover{
    background: #f7f7f7;
}

a {
    text-decoration: none;
}