* {
    margin: 0px;
    padding: 0px;
}

.ScreenContainer {
    display: flex;
    flex-direction: column;
}

.UserContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}